@page "/"

<h1>Blazor Toolbox</h1>

<p>
    Source code, licence and documentation on GitHub:<br />
    <a target="_blank" href="https://github.com/springwald/blazortools">https://github.com/springwald/blazortools</a>
</p>

<h2>Box component</h2>
<div class="demoblock">
    <NavLink class="btn btn-primary" href="box">
        Demo
    </NavLink>
</div>


<h2>Waiting service</h2>
<div class="demoblock">
    <NavLink class="btn btn-primary" href="waiting">
        Demo
    </NavLink>
</div>

<h2>Confirm button</h2>
<div class="demoblock">
    <NavLink class="btn btn-primary" href="confirmbutton">
        Demo
    </NavLink>
</div>

<h2>Modal popup</h2>
<div class="demoblock">
    <NavLink class="btn btn-primary" href="modalpopup">
        Demo
    </NavLink>
</div>

@*<h2>Twaddle service</h2>
<div class="demoblock">
    <NavLink class="btn btn-primary" href="twaddle">
        Demo
    </NavLink>
</div>*@