@if (dialogVisible)
{
    <div class="modal @modalClass" tabindex="-1" role="dialog" style="display: @(dialogVisible ? "block" : "none")">
        <div class="modal-dialog @(this.Xl ? "modal-xl" :"modal-lg")" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display:flex; flex-wrap: wrap">
                    @Header
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                @if (Footer != null)
                {
                    <div class="modal-footer">@Footer</div>
                }
            </div>
        </div>
    </div>
}

@if (dialogVisible == true)
{
    <div class="modal-backdrop fade show"></div>
}

